/* *{
    margin: 0px;
    padding: 0px;
} */

h1{
    padding: 40px;
    background-color: aqua;
    /* display: inline;
    /* padding-left: 55px; */
    /* padding-right: 5px; */
    border-radius: 45px;
    padding-left: 90px;
}
h2{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;
    border-radius: 45px;
    border: red solid ;
    margin: 4px;
    padding: 10px;
    padding-left: 50px;
    display: inline-block;
    
    
}
span{
    padding-left: 45px;
    background-color: red;
    padding-right: 45px;
    border-radius: 45px;

}