h1{
    background-color: rgb(255, 98, 70);
    height: 30px;
    width: 250px;
    /* border: 10px;
    /* border-style: solid; */
 
    /* border-color: rgb(135, 222, 168); */
    border-top: 15px solid greenyellow;
    border-bottom: 15px solid green;
    padding: 25px 45px ;
    margin-left: 45px;
    padding: 11px;
    margin: 40px;
    border-radius: 30px;
}
/* h2{
    background-color: rgb(135, 222, 168);
    height: 40px;
    width: 600px;
    border: 5px solid rgb(255, 98, 70);
    padding: 15px;
    margin: 30px;
}
p{
        background-color: rgb(135, 222, 168);
        height: 40px;
        width: 600px;
        border: 5px solid rgb(255, 98, 70);
        padding: 15px;
        margin: 30px;
} */