.container {
  height: 400px;
  width: 400px;
  background-color: greenyellow;
  /* box-shadow: 20px 0px goldenrod; */
  /* box-shadow: 0px 3px 200px 3px rgb(31, 139, 89); */
  box-shadow: inset 10px 10px 200px 3px red;
}
