* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(103, 235, 206);
    display: flex;
    height: 800px;
    width: 900px;
    position: relative;
    left: 450px;
    top: px;
    

}

.Box {
    position: relative;
    top: 50px;
    height: 700px;
    width: 450px;
    background-color: #28856e;
    padding: 20px;
    border-radius: 25px;
    border: #000000;

}

h1 {
    text-align: center;
    margin: 10px;
    color: rgb(31, 31, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
}

label {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 5px;
    position: relative;
    left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 45px;
    cursor: pointer;
    border: #000000;

}

button {
    cursor: pointer;
}