.container{

    background-color: rgb(238, 204, 232);
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 5px;

}

.Box{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.First{
    background-color: rgb(241, 43, 43);
    /* flex-basis: 150px; */
}
.Second{
    background-color: rgb(84, 230, 84);

 
}   
.Third{
    background-color: blue;
    /* align-self: flex-start;   */
    

}
.Fourth{
    background-color: yellow;

}
.Fifth{
    background-color: rgb(209, 121, 121);
 
}