#mybox{
    height: 200px;
    width: 300px;
    background-color:yellow;
    position: relative;
}
.name{
        height: 80px;
        width: 160px;
        background-color: rgb(0, 60, 255);
        position: relative;
        right: px;
        bottom: 120px;
}
#rect{
    height: 80px;
        width: 100px;
    background-color: rgb(17, 12, 255)
}
#react2{
    height: 80px;
    width: 100px;
    background-color: blue;
    position: relative;
    top: 40px;
    left: 0px;
    
    
}

#box3{

    height: 80px;
    width: 160px;
    background-color: blue;
    position: relative;
    top: 0px;
    left: 140px;


}
