* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100 vh;
}
.container {
  height: 400px;
  width: 1000px;
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
img {
  width: 100%;
  height: 100%;
}
.box {
  background-color: aquamarine;
}
@media screen and (max-width: 600px) {
  height: 45px;
}
