.container {
  background-color: aqua;
  width: 300px;
  height: 300px;
  font-size: 30px;
}

/* @media screen and (min-width: 800px) {
  .container {
    background-color: rgb(163, 36, 85);
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    background-color: rgb(204, 56, 172);
    font-size: 10px;
    font-size: 30px;
  }
} */
@media screen and (min-width: 600px) {
  .container {
    background-color: rgb(204, 56, 172);
    font-size: 10px;
    font-size: 30px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    background-color: rgb(163, 36, 85);
    font-size: 30px;
  }
}
