*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   

}
body{
    background-color: rgb(168, 114, 114);
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(99, 177, 187);
    gap: 10px;
    padding: 10px;
    height: 400px;
    width: 400px;
}
.First{
    background-color: antiquewhite;
}
.Second{
    background-color: brown;
}
.Third{
    background-color: yellow;
}
.Forth{
    background-color: yellowgreen;
}