*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
Body{
    background-color: black;
    color: rgb(17, 121, 212);
}
.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;
    padding: 5px;
}
.Box{
    background-color: antiquewhite;

}
.First{
    grid-row: 1/4;
    background-color: rgb(160, 125, 125);
}
.Second{
    grid-column: 2/4;
    background-color: rgb(170, 51, 51);
}
.Six{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: brown;
}