*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}
.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 2fr 2fr 1fr;
    padding: 10px;
    gap: 5px;    
}
.Box{
    background-color: rgb(83, 83, 20);
}
.Header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(85, 67, 45);
}
.Sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(136, 104, 55);
}
.content1{
    grid-column-start:2;
    grid-column-end: 4;
    background-color: rgb(131, 113, 91);
}
.content2 {
 
    background-color: rgb(238, 191, 133);
}
.content3{
 
    background-color: rgb(105, 73, 35);
}
.Footer{
    grid-column:1/4 ;
    background-color: rgb(83, 58, 25);

}
